* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.title {
    color: hsl(200 18% 26%);
    text-align: center
}

.center {
    font-family: Rubik latin;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 40px;
    margin: 64px 0px 16px;
}

.sous-title {
    color: hsl(200 18% 26%);
    display: inline;
    line-height: 20px;
    text-align: center;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calculator-step {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calculator-step-1 {
    /* background-color: blue; */
    color: hsl(200 18% 26%);
    line-height: 24px;
    margin: 22px 0px 0px;
    text-align: center;
    width: 450px;
    margin: 12px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 0px 0px 30px rgba(255, 250, 250, 0.908);
    height: 200px;
}

.title-calculator {
    color: hsl(200 18% 26%);
    text-align: center;
    margin-top: 10px;
}

.wrapper-gender {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-icon {
    margin: 2rem;
}

.wrapper-icon img {
    width: 5rem;
}

.active {
    background-color: #190c8d !important;
}

.wrapper-icon .btn {
    background-color: gray;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 2em;
}

/* input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.calculator-step-2 {
    color: hsl(200 18% 26%);
    line-height: 24px;
    margin: 20px 0px 0px;
    text-align: center;
    width: 400px;
    margin: 15px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 0px 0px 30px rgb(230, 232, 233);
}

.wrapper-old {
    margin-top: 50px;
}

.input-old {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-old input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 20%;
    font-size: 40px;
    padding: 0px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.908);
}

/* activity */

.calculateur-step-5 {
    height: 40vh;
    margin-bottom: 40px;
    border: 1px solid;
    width: 90vw;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 0px 0px 30px rgb(230, 232, 233);
    background-color: blue;
}

.calculateur-activity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    /* background-color: red; */
}

.activity-list {
    display: flex;
}

.wrapper-activity {
    display: flex;
    flex-direction: column;
}

.wrapper-activity p {
    color: hsl(200 18% 26%);
    line-height: 20px;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 20px;
}

.wrapper-activity .btn {
    background-color: gray;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 150px;
    padding: 12px;
    margin: 20px;
}

.active-btn {
    background-color: #190c8d !important;
}

/* Result */

button {
    margin-top: 32px;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 24px;
    color: #fff;
    font-weight: 700;
    min-width: 196px;
    background-color: coral;
    cursor: pointer;
    margin-bottom: 10px;
}

.calculator-result-wrapper {
    color: hsl(200 18% 26%);
    line-height: 24px;
    margin: 22px 0px 0px;
    text-align: center;
    width: 450px;
    margin: 12px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 0px 0px 30px rgba(255, 250, 250, 0.908);
    height: 150px;
}

.calculator-result {
    text-align: center;
}

.title-result {
    color: hsl(200 18% 26%);
    text-align: center;
    margin-top: 10px;
}
.wrapper-result {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.result span , p{
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: 800;
    color: hsl(200 18% 26%);
}



/* Eroor  */

.active-error {
    border: 1px solid red;
}

.active-error-border {
    border: none;
}

.reload {
    margin-top: 32px;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 24px;
    color: #fff;
    font-weight: 700;
    min-width: 196px;
    background-color: red;
    cursor: pointer;
    margin-bottom: 10px;
}


@media (max-width :992px) {
    .calculator-step{
    grid-template-columns: repeat(2, 1fr );
    }
}

@media (max-width : 768px){

    .wrapper-gender {
        justify-content: space-around;
    }

    .wrapper-icon {
        margin: 0;
    }
    .calculator-step{
        grid-template-columns: repeat(1, 1fr );
    }
    .title {
        text-align:center;
        margin-bottom: 20px;
    }
    
    .center {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 20px;
        margin: 30px 0px 10px;
    }

    .activity-list {
        display: grid;
        grid-template-columns: 1fr;
        width:350px !important;

    }
    .calculateur-step-5{
        width:450px !important;
        height:auto;
    }

    .calculateur-activity {
        padding: 0;
    }

    .title-calculator {
        margin-bottom: 15px;
    }

    .wrapper-activity{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper-activity p {
        padding: 0;
        text-align: center;
    }

    .wrapper-activity span {
        display: none;
    }

    .wrapper-activity .btn {
        margin: 0;
    }
    
}

@media (max-width :450px){
    .calculator-step-1{
        width: 350px;
    }

    .calculateur-step-5 {
        width: 350px !important;
    }
    .activity-list {
        grid-template-columns: 1fr;
    }
    .calculator-result-wrapper {
        width: 350px;
    }

    .result {
        height: 10vh;
    }
}
