.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    /* background-color: bisque; */
}


.navBar img {
    width: 5rem;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    margin: 0 25px;
}

